<blockquote class="quote">
  <p class="quote__text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione id
    accusantium error eius eaque velit laborum maxime officiis hic nesciunt
    animi dignissimos nemo, voluptatibus molestiae dolorum vitae saepe ipsum
    quas. Porro veritatis ut numquam! Velit error provident inventore tempore
    corporis hic rem delectus officiis, atque eius rerum, temporibus mollitia
    cupiditate?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith</h3>
        <p class="quote__organization">ACME Company</p>
      </div>
    </div>
  </footer>
</blockquote>
